<div class="home-header">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="logo navbar-btn pull-left" href="/" title="Accueil">
                <img class="hidden-sm-down" width="150px" src="img/logo.png" alt="Accueil">
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div id="dots"></div>
                <div class="slides">
                    <div>
                        <img class="gif" src="videos/templates.png" />
                        <p class="caption">
                            <a href="choose-templates.html">Boostrap your project: Backend & (Web | Web & Mobile App) </a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/troubleshooting.png" />
                        <p class="caption">
                            <a href="installation.html">Wakanda setups your environement</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/model.png" />
                        <p class="caption">
                            <a href="design-data-model.html">Data: instead of coding your JSON design it visually.</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/web.png" />
                        <p class="caption">
                            <a href="create-web-app.html">Backend+Angular integrated: start coding your Web App</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/mobile.png" />
                        <p class="caption">
                            <a href="create-mobile-app.html ">Simulator integrated: simulate your Ionic App</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
