<div class="home-header">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="logo navbar-btn pull-left" href="/" title="Accueil">
                <img class="hidden-sm-down"" width="150px" src="img/logo.png" alt="Accueil">
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div id="dots"></div>
                <div class="slides">
                    <div>
                        <img class="gif" src="videos/templates.png" />
                        <p class="caption">
                            <a href="choose-templates.html">Create a new project from our seed templates.</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/troubleshooting.png" />
                        <p class="caption">
                            <a href="installation.html">Easily configure the tool set you need.</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/model.png" />
                        <p class="caption">
                            <a href="design-data-model.html">Design all your data visually.</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/web.png" />
                        <p class="caption">
                            <a href="create-web-app.html">Start coding your web app in minutes.</a>
                        </p>
                    </div>
                    <div class="hide-before-init">
                        <img class="gif" src="videos/mobile.png" />
                        <p class="caption">
                            <a href="create-mobile-app.html ">Simulate your mobile app in real-time.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>