<div class="home-header">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="logo navbar-btn pull-left" href="/" title="Accueil">
                <img class="hidden-sm-down"" width="150px" src="img/logo.png" alt="Accueil">
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Getting started</h1>
                <div class="slides">
                    <div>
                        <a href="installation.html">
                            <img src="img/step1.png" />
                            <p class="caption">
                                Install Wakanda in a matter of minutes.<br/>Easily configure the tool set you need.
                            </p>
                        </a>
                    </div>
                    <div class="hide-before-init">
                        <a href="choose-templates.html">
                            <img src="img/step1.png" />
                            <p class="caption">
                                Start a new project from our seed templates.<br/>Your app is ready to run!
                            </p>
                        </a>
                    </div>
                    <div class="hide-before-init">
                        <a href="design-data-model.html">
                            <img src="img/step1.png" />
                            <p class="caption">
                                Design all your data visually.<br/>A unique solution.
                            </p>
                        </a>
                    </div>
                    <div class="hide-before-init">
                        <a href="create-web-app.html">
                            <img src="img/step1.png" />
                            <p class="caption">
                                Code. Preview. Deploy.<br/>A fully integrated development environment.
                            </p>
                        </a>
                    </div>
                    <div class="hide-before-init">
                        <a href="create-mobile-app.html">
                            <img src="img/step1.png" />
                            <p class="caption">
                                Simulate your mobile app in real-time.<br/>Even on your device.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>