<h1 id="next-steps">Start Now</h1>
<h2>Bootstrap your project</h2>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">Installation Wizard</span></div>
      <a class="action" href="installation.html#install-console-overview">
        <div class="stepPic templates"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Wakanda setups your environment</h3>
    <p>
      Based on the template you choose, Wakanda initiates your project, installs what you need to start developing quickly!
    </p>
    <p>A Mobile troubleshooting App checks what you need and guides you in preparing your environment.

    </p>
    <p>
      <a class="btn" href="installation.html#install-console-overview">Setup your environment »</a>
    </p>
  </div>

</div>
<h2>Code your app</h2>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">Angular 1 or 2</span></div>
      <a class="action" href="create-web-app.html#web-app-creation">
        <div class="stepPic webApp"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Code your front</h3>
    <p>
      Angular 1 & 2 are fully integrated to Wakanda Backend. All your communication with the backend is done for you!
    </p>
    <p>Wakanda Studio and the Angular Connector make your development very quick.

    </p>
    <p>
      <a class="btn" href="create-web-app.html#web-app-creation">Code your Angular App »</a>
    </p>
  </div>

</div>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">JavaScript Backend</span></div>
      <a class="action" href="create-mobile-app.html#build-your-app">
        <div class="stepPic mobileApp"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Code your Server-Side Logic</h3>
    <p>
      Either you use the Wakanda DB or MySQL, you manage the exposition (locally or via REST API), the events and add methods.
    </p>
    <p>You code your own buiness logic in modules and reuse them later. your productivity is increased.

    </p>
    <p>
      <a class="btn" href="http://wakanda.github.io/wakanda-server-doc/#/doc/data/server-side">Code your Server-Side Logic »</a>
    </p>
  </div>

</div>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">Ionic 1 or 2</span></div>
      <a class="action" href="create-mobile-app.html">
        <div class="stepPic mobileApp"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Code your Mobile Web App</h3>
    <p>
      Ionic 1 & 2 are fully supported. Code your Hybrid Mobile Apps with JavaScript.
    </p>
    <p>Wakanda Studio integrates simaltors and emulators to make your mobile development easier.

    </p>
    <p>
      <a class="btn" href="create-mobile-app.html#build-your-app">Code your Ionic App »</a>
    </p>
  </div>

</div>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">Data Model Editor</span></div>
      <a class="action" href="create-mobile-app.html#build-your-app">
        <div class="stepPic model"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Design your data</h3>
    <p>
      Instead of coding your data model in JSON, Wakanda Studio provides a Visual Data Designer.
    </p>
    <p>Vidually you design your model, manage relations and security and add methods or events in JavaScript.

    </p>
    <p>
      <a class="btn" href="create-mobile-app.html#build-your-app">Design your Data Model »</a>
    </p>
  </div>

</div>

<h2>Publish your App</h2>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">Cordova</span></div>
      <a class="action" href="create-mobile-app.html#build-your-app">
        <div class="stepPic mobileApp"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Build your mobile app</h3>
    <p>
      Now that you have developed and tested your mobile app, it's time to publish it to Apple App Store and Google Play.
    </p>
    <p>You can build your mobile app for iOS and Android from Wakanda Studio, it takes just one click!

    </p>
    <p>
      <a class="btn" href="create-mobile-app.html#build-your-app">Generate your App »</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head small"><span class="label">On-prem</span></div>
      <a class="action" href="deploy-your-app.html">
        <div class="stepPic circle deploy"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Deploy to Your Server</h3>
    <p>
      Wakanda Server supports Linux, Windows and MacOS. Install it wherever you want!
        </p>
        <p>Deploy your App on your Wakanda Server in one-click!

        </p>
      <a class="btn" href="deploy-your-app.html">Deploy to Your Server »</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head small"><span class="label">Cloud Platform</span></div>
      <a class="action" href="deploy-your-app.html">
        <div class="stepPic circle deploy"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Deploy to Wakanda Cloud</h3>
    <p>
      Ready for production? Get fully managed servers with Wakanda Cloud:
      <ul>
        <li>One dashboard to monitor and manage all your Wakanda servers</li>
        <li>Instant Server instance provisioning</li>
        <li>Access rights with group and user management</li>
        <li>Automated backup and 24x7 monitoring</li>
        <li>Ownership transfer when application is in production</li>
      </ul>
      <a class="btn" href="deploy-your-app.html">Deploy to the Cloud »</a>
    </p>
  </div>
</div>
<h2>Go further </h2>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head"><span class="label">Enterprise  Edition</span></div>
      <a class="action" href="http://doc.wakanda.org/home2.en.html#/MySQL-Connector-Pro/MySQL-Connector-Pro.100-1168858.en.html"
        target="_blank">
        <div class="stepPic circle connect"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Connect your MySQL DB</h3>
    <p>
      Wakanda Connectors simplifies the integration to any external DB or Web Services.
    </p>
    <p>
      A JavaScript Abstract Layer to interact with MySQL DB in JavaScript (No SQL) and all the data exposed via REST API.
    </p>
    <p>
      <a class="btn" href="http://doc.wakanda.org/home2.en.html#/MySQL-Connector-Pro/MySQL-Connector-Pro.100-1168858.en.html">Learn more »</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head small"><span class="label">Enterprise  Edition</span></div>
      <a class="action" href="http://wakanda.github.io/wakanda-server-doc/#/doc/authentication/custom-session-management" target="_blank">
        <div class="stepPic circle session"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Manage scalabality</h3>
    <p>
      By default, Wakanda handles user sessions and ensures :
      <ul>
        <li>the creation and in-memory persistence of session information</li>
        <li>the auto-removal of expired sessions</li>
        <li>the handling of SSJS session APIs</li>
      </ul>
      In your app, you might need to have full control over those aspects.
    </p>
    <p><a class="btn" href="http://wakanda.github.io/wakanda-server-doc/#/doc/authentication/custom-session-management" target="_blank">Learn how »</a>
    </p>
  </div>
</div>
