<h1 id="next-steps">Next steps</h1>
<h2>Publishing your app</h2>
<div class="row">
  <div class="col-md-4">

    <div class="square">
      <div class="head small"><span class="label">Mobile Platform</span></div>
      <a class="action" href="create-mobile-app.html#build-your-app">
        <div class="stepPic mobileApp"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Build your mobile app</h3>
    <p>
      Now that you have developed and tested your mobile app, it's time to publish it to Apple App Store and Google Play.
    </p>
    <p>You can build your mobile app for iOS and Android from Wakanda Studio, it takes just one click!

    </p>
    <p>
      <a class="btn" href="create-mobile-app.html#build-your-app">Build your app »</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head small"><span class="label">Cloud Platform</span></div>
      <a class="action" href="deploy-your-app.html">
        <div class="stepPic circle deploy"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Deploy to Wakanda Cloud</h3>
    <p>
      Ready for production? Get fully managed servers with Wakanda Cloud:
      <ul>
        <li>One dashboard to monitor and manage all your Wakanda servers</li>
        <li>Instant Server instance provisioning</li>
        <li>Access rights with group and user management</li>
        <li>Automated backup and 24x7 monitoring</li>
        <li>Ownership transfer when application is in production</li>
      </ul>
      <a class="btn" href="deploy-your-app.html">Let's get started »</a>
    </p>
  </div>
</div>
<h2>Going further with the Enterprise Edition</h2>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head"><span class="label">Enterprise  Edition</span></div>
      <a class="action" href="http://doc.wakanda.org/home2.en.html#/MySQL-Connector-Pro/MySQL-Connector-Pro.100-1168858.en.html"
        target="_blank">
        <div class="stepPic circle connect"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Connect external data sources</h3>
    <p>
      Wakanda PRO Connectors simplifies the integration of mobile and Web applications to any back-end and legacy system.
    </p>
    <p>
      It introduces an innovative concept: “Bring Your Own Data Model”. This concept takes the integration of the back-end and
      legacy systems to the next level by providing you with an easy-to-use solution.
    </p>
    <p>
      <a class="btn" href="http://doc.wakanda.org/home2.en.html#/MySQL-Connector-Pro/MySQL-Connector-Pro.100-1168858.en.html">Learn more »</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="square">
      <div class="head small"><span class="label">Enterprise  Edition</span></div>
      <a class="action" href="http://wakanda.github.io/wakanda-server-doc/#/doc/authentication/custom-session-management" target="_blank">
        <div class="stepPic circle session"></div>
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Custom session management</h3>
    <p>
      By default, Wakanda handles user sessions and ensures :
      <ul>
        <li>the creation and in-memory persistence of session information</li>
        <li>the auto-removal of expired sessions</li>
        <li>the handling of SSJS session APIs</li>
      </ul>
      In your app, you might need to have full control over those aspects.
    </p>
    <p><a class="btn" href="http://wakanda.github.io/wakanda-server-doc/#/doc/authentication/custom-session-management" target="_blank">Learn how »</a>
    </p>
  </div>
</div>