<h1 id="next-steps">???</h1>
<h2>Publishing your app</h2>
<div>
    <div class="head">1</div>
    <a class="action" href="choose-templates.html">
      <div class="stepPic templates"></div>
      CHOOSE YOUR<br>TEMPLATES
    </a>
  </div>
  <div>
    <div class="head">2</div>
    <a class="action" href="design-data-model.html">
      <div class="stepPic model"></div>
      DESIGN YOUR<br>DATA MODEL
    </a>
  </div>
  <div>
    <div class="head">3</div>
      <a class="action" href="create-web-app.html">
        <div class="stepPic webApp"></div>
        CREATE<br>A WEB APP
      </a>
  </div>
  <div>
    <div class="head">4</div>
      <a class="action" href="create-mobile-app.html">
        <div class="stepPic mobileApp"></div>
        CREATE<br>A MOBILE APP
      </a>
  </div>
  <hr/>
</div>
