

HELLO WORLD

<ul>
<li><a href="installation.html">Install Wakanda</a></li>
<li><a href="installation.html#choose-mobile-or-web-app" > Choose : mobile or web app ?</a></li>
<li><a href="installation.html#choose-mobile-or-web-app" > Check for dependencies</a></li>
<li><a href="installation.html#code-preview" >Code and preview</a></li>
<li><a href="installation.html#run-on-emulator" >Run on emulator</a></li>
<li><a href="installation.html#code-preview" >Code and preview</a></li>
<li><a href="installation.html#run-on-device" >Run on device</a></li>
<li><a href="installation.html#edit-your-data-visually" >Edit your Data Model</a></li>
<li><a href="installation.html#populate-your-database" >Populate your Database</a></li>
<li><a href="installation.html#display-a-list-of-superheros-in-your-app" >Display a list of superheros in your App</a></li>
</ul>

<ul>
<li><i class="fa fa-rss"></i><a href="https://blog.wakanda.io" target="_blank">Read our blog</a></li>
<li><i class="fa fa-stack-overflow"></i><a href="http://stackoverflow.com/questions/tagged/wakanda" target="_blank">Ask questions</a></li>
<li><i class="fa fa-twitter"></i><a href="https://twitter.com/wakandasoft" target="_blank">Follow us</a></li>
<li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/wakandasoft" target="_blank">Connect</a></li>
<li><i class="fa fa-linkedin"></i></i><a href="https://www.linkedin.com/company/wakanda" target="_blank">Learn more</a></li>
<li><i class="fa fa-youtube"></i><a href="https://www.youtube.com/wakandaio" target="_blank">Watch our videos</a></li>
<li><i class="fa fa-comments"></i><a href="https://github.com/Wakanda/wakanda-issues/issues" target="_blank">Request features</a></li>
<li><i class="fa fa-github"></i><a href="https://github.com/Wakanda/wakanda-issues/issues" target="_blank">Report issues</a></li>
</ul>
