<ul>
<li><i class="fa fa-rss"></i><a href="http://blog.wakanda.io" target="_blank">Read our blog</a></li>
<li><i class="fa fa-stack-overflow"></i><a href="http://stackoverflow.com/questions/tagged/wakanda" target="_blank">Ask questions</a></li>
<li><i class="fa fa-twitter"></i><a href="https://twitter.com/WakandaSoft" target="_blank">Follow us</a></li>
<li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/wakandasoft" target="_blank">Connect</a></li>
<li><i class="fa fa-linkedin"></i></i><a href="https://www.linkedin.com/company/wakanda" target="_blank">Learn more</a></li>
<li><i class="fa fa-youtube"></i><a href="https://www.youtube.com/user/wakandasoft" target="_blank">Watch our videos</a></li>
<li><i class="fa fa-comments"></i><a href="https://github.com/Wakanda/wakanda-issues/issues" target="_blank">Request features</a></li>
<li><i class="fa fa-github"></i><a href="https://github.com/Wakanda/wakanda-issues/issues" target="_blank">Report issues</a></li>
</ul>

